<main class="register_background">
<section class="hero is-small hero-head animated fadeIn is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white">register</h1>
    </div>
  </div>
</section>

<div class="container animated fadeIn">

  <form method="POST" action="/register" class="registration-form">
    <div class="has-text-centered"><i class="far fa-user fa-3x"></i></div>
    <div class="field">
      <label class="label" for="username">Username</label>
      <div class="control has-icons-left">
      <input class="input is-rounded is-medium" type="text" name="username" id="username">


      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      </div>
    </div>

    <div class="field">
      <label class="label" for="email">Email</label>
      <div class="control has-icons-left">
      <input class="input is-rounded is-medium" type="text" name="email" id="email">
      <span class="validity"></span>

      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
    </div>

    <div class="field">
      <label class="label" for="password">Password</label>
      <div class="control has-icons-left">
      <input class="input is-rounded is-medium" type="password" name="password" id="password">
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
    </div>

    <div class="field">
      <label class="label" for="passwordConfirmation">Password Confirmation</label>
      <div class="control has-icons-left">
      <input class="input is-rounded is-medium" type="password" name="passwordConfirmation" id="passwordConfirmation">
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
    </div>
    <button class="is-primary button">Register</button>
  </form>
  </div>
</main>
