<nav class="navbar is-fixed-top is-black">

  <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="../images/popup_logo.gif" alt="Popup Culture:  London's number social network for popup events" width="112" height="28">
      </a>

       <div class="navbar-burger burger" data-target="#mobile-menu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">home</a>
        <a class="navbar-item" href="/popuplisting">recent listings</a>
        <% if(locals.isAuthenticated) { %>
        <a class="navbar-item" href="/popuplisting/new">list a new pop-up</a>
        <a class="navbar-item" href="/logout">logout</a>
        <% } else { %>
        <a class="navbar-item" href="/register">register</a>
        <a class="navbar-item" href="/login">login</a>
        <% } %>
      </div>
    </div>

</div>

</nav>
