<section class="hero is-medium index hero-head animated fadeIn is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white"><span class="opacity">Update your profile</span></h1>
    </div>
  </div>
</section>

<main class="container">

  <div class="columns has-text-centered">
    <div class="column">
      <h2 class="subtitle indextitle">Change your profile image and password</h2>
  </div>
</div>


</main>
