<div class="container animated fadeIn">
  <%# sending POST/Create request to the page /cheeses %>
  <form method="POST" action="/music">
    <div class="field">
      <label class="label">Favourite Artist:</label>
      <div class="control">
        <input class="input" name="artist" type="text" placeholder="Artist" required minlength="2">
      </div>
    </div>
    <div class="field">
      <label class="label">Song:</label>
      <div class="control">
        <input class="input" name="song" type="text" placeholder="Song" required minlength="2">
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" required pattern="https?://.+">
      </div>
    </div>
    <div class="field">
      <label class="label">YouTube Link:</label>
      <div class="control">
        <input class="input" name="youtube" type="text" placeholder="YouTube Link" required pattern="^http">
      </div>
    </div>
    <div class="field">
      <label class="label">Song notes:</label>
      <div class="control">
        <textarea class="textarea" name="info" placeholder="Info (380 chars max)" maxlength="380"></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
