
<section class="hero is-large homepage hero-head animated fadeIn is-bold is-mobile">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="is-half has-text-centered homepagebox">
          <h1 class="title has-text-white">pop-up london</h1>
          <h2 class="subtitle has-text-white">the no.1 social network for popup events</h2>
        </div>
      </div>

      <div class="columns is-centered is-hidden-mobile homepagebutton">

        <a class="button is-primary is-large" href="register">sign up now to list and review events</a>
      </div>
    </div>
  </div>

  <div class="columns has-text-centered is-hidden-desktop is-hidden-tablet hp-signup" >
    <div class="column">

      <a class="button is-light is-large is-outlined" href="register">sign up now for membership</a>

    </div>
  </div>


</section>
