
<section class="hero is-large homepage hero-head animated fadeIn is-bold is-mobile">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="is-half has-text-centered homepagebox">
          <h1 class="title has-text-white">pop-up culture</h1>
          <h2 class="subtitle has-text-white">the social network for popup events</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="columns has-text-centered is-hidden-desktop-only hp-signup">
  <div class="column">

    <a class="button is-light is-large is-outlined" href="register">sign up now for membership</a>

  </div>
</div>
