
<section class="hero is-large homepage hero-head animated fadeIn is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white">pop-up culture</h1>
      <h2 class="subtitle has-text-white">your london. your popups.</h2>
    </div>
  </div>
</section>
