
<section class="hero is-large homepage hero-head animated fadeIn is-bold is-mobile">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="is-half has-text-centered homepagebox">
          <h1 class="title has-text-white">pop-up culture</h1>
          <h2 class="subtitle has-text-white">your london. your popups.</h2>
        </div>
      </div>
    </div>
  </div>
</section>
